.movies-card {
  width: 360px;
  height: 319px;
  background-color: #222222;
  border-radius: 6px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.movies-card__text {
  display: flex;
  justify-content: space-between;
  margin: 0 18px;
  height: 54px;
  align-items: center;
}

.movies-card__title {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  margin: 0;
}

.movies-card__duration {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  color: #8b8b8b;
  margin: 0;
}

.movies-card__photo {
  object-fit: cover;
  width: 360px;
  height: 200px;
  display: block;
}

.movies-card__button-active {
  background-color: #ee3465;
  background-image: url(../../../images/check-mark.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 29px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 18px;
}

.movies-card__button {
  background-color: #313131;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 0.92;
  width: 100px;
  height: 29px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 18px;
}

.movies-card__button-active:hover {
  opacity: 80%;
}

.movies-card__button:hover {
  opacity: 80%;
}

@media screen and (max-width: 1279px) {
  .movies-card {
    width: 342px;
    height: 309px;
  }

  .movies-card__photo {
    width: 342px;
    height: 190px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card {
    width: 300px;
    height: 271px;
  }

  .movies-card__text {
    margin: 0 14px;
    height: 46px;
  }

  .movies-card__title {
    font-size: 12px;
    line-height: 1.5;
  }

  .movies-card__duration {
    font-size: 10px;
    line-height: 1.8;
  }

  .movies-card__photo {
    width: 300px;
    height: 168px;
  }

  .movies-card__button-active {
    margin-top: 14px;
  }

  .movies-card__button {
    margin-top: 14px;
  }
}
